<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Freelancer</title>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    </head>
    <body>
        <div id="root">
            <main>
                <nav>
                    <div class="logo">
                        <img src="images/avada-freelance-logo.png" alt="">
                    </div>
                    <div class="menu">
                        <a href="#">
                            <i class="fas fa-plus"></i>
                        </a>
                        <a href="#">
                            <i v-if="drop == false" @click="dropdown()" class="fas fa-bars"></i>
                            <i v-if="drop" @click="close_dropdown()" class="fas fa-times"></i>
                        </a>
                    </div>
                    <div v-if="drop" class="hamburger-menu">
                        <ul>
                            <li>
                                <a href="#">Home</a>
                            </li>
                            <li>
                                <a href="#">Work</a>
                            </li>
                            <li>
                                <a href="#">Articles</a>
                            </li>
                            <li>
                                <a href="#" class="cta">Let's Talk</a>
                            </li>
                        </ul>

                    </div>
                </nav>
                <div class="main_info">
                    <div class="container">
                        <h1>avada freelance</h1>
                        <h2>Art Director</h2>
                        <p>if it doesn't challenge you, it doesn't change you</p>
                    </div>

                </div>

            </main>
            <div class="about">
                <div class="container">
                    <div class="title">
                        <h1>About Me</h1>
                        <h2>UI & UX EXPERT</h2>
                    </div>
                    <div class="separatore">

                    </div>
                    <div class="about-bottom">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
            </div>
            <div class="oblique_division_1">

            </div>
            <div class="work_with_me">
                <div class="container">
                    <div class="title">
                        <h1>Why Work With Me</h1>
                        <h2>WEB &middot; BRANDING &middot; UX/UI</h2>
                    </div>
                    <div class="separatore">

                    </div>
                    <div class="about-bottom">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="competenze">
                        <div class="icon_competenze">
                            <i class="fab fa-gitlab fa-5x"></i>
                            <p>web design</p>
                        </div>
                        <div class="icon_competenze">
                            <i class="fas fa-shield-alt fa-5x"></i>
                            <p>branding</p>
                        </div>
                        <div class="icon_competenze">
                            <i class="fab fa-sketch fa-5x"></i>
                            <p>ui/ux</p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="oblique_division_2">

            </div>
            <div class="recent_work">
                <div class="container">
                    <div class="title">
                        <h1>Recent Work</h1>
                        <h2>WEB &middot; BRANDING &middot; UX/UI</h2>
                    </div>
                    <div class="separatore">

                    </div>

                </div>
            </div>
            <div class="works">
                <div v-for="(work,index) in works" class="img_works">
                    <img :src="works[index]" alt="">
                </div>
                <button v-if="add" @click="addworks()" class="button_all_work" type="button" name="All works">VIEW ALL WORK</button>
                <button v-if="remove" @click="removeworks()" class="button_all_work" type="button" name="All works">GO BACK</button>
            </div>
            <div class="division_3">

            </div>
            <div class="citazioni">
                <div class="container">
                    <div class="img_citazioni">
                        <img src="images/quotes-1.png" alt="">
                    </div>
                    <div class="citazione">
                        <p>{{citazioni[indice_citazioni].citazione}}</p>
                        <h2>{{citazioni[indice_citazioni.citazione]}}</h2>
                        <div class="indicatori_immagine">
                            <i @click="change(indice)" v-for="(citazione, indice) in citazioni"
                                v-bind:class="indice == indice_citazioni ? 'active' : null"
                                class="fas fa-circle"></i>
                        </div>
                    </div>
                    <div class="global-brand">
                        <p>trusted by global brands</p>
                            <div class="brands">
                                <img v-for="(brand, index) in brands" :src="brands[index]" alt="">
                            </div>

                    </div>
                </div>
            </div>
            <div class="news">
                <div class="news_title">
                    <div class="container">
                        <div class="title">
                            <h1>Expert Design Advice</h1>
                            <h2>TRENDING DESIGN NEWS</h2>
                        </div>
                        <div class="separatore">

                        </div>
                    </div>
                </div>
                <div class="content_of_news">
                    <div v-for="(item,index) in news" class="blog">
                        <img :src="news[index]" alt="">
                    </div>
                    <div class="blog_description">
                        <div class="title">
                            <h1>Live The Design Process</h1>
                            <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h2>
                        </div>
                        <div class="title">
                            <h1>Live The Design Process</h1>
                            <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h2>
                        </div>
                        <div class="title">
                            <h1>Live The Design Process</h1>
                            <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lets_talk">
                <div class="container">
                    <div class="lets_talk_content">
                        <div class="title">
                            <h1>Let's Work Together</h1>
                            <h2>TELL ME MORE ABOUT YOUR PROJECT</h2>
                        </div>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <div class="separatore">

                        </div>
                        <input v-model="input_name" type="text" name="" value="" placeholder="  NAME*">
                        <input v-model="input_email" type="text" name="" value="" placeholder="  EMAIL*">
                        <input v-model="input_phone" type="text" name="" value="" placeholder="  PHONE">
                        <button @click="loginput()" class="button_all_work" type="button" name="All works">LET'S TALK</button>
                    </div>

                </div>
            </div>
            <footer>
                <div class="container">
                    <div class="footer_content">
                        <div class="footer_logo">
                            <img src="images/avada-footer-logo-66x66.png" alt="">
                        </div>
                        <ul>
                            <li v-for="item in copyrights">
                                <p>{{item}}</p>
                            </li>
                        </ul>
                        <div class="social">
                            <a href="#"><i class="fab fa-facebook-square fa-2x"></i></a>
                            <a href="#"><i class="fab fa-twitter-square fa-2x"></i></a>
                            <a href="#"><i class="fab fa-instagram-square fa-2x"></i></a>
                            <a href="#"><i class="fab fa-youtube-square fa-2x"></i></a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
